body {
    background-image: url('./images/tiny-squares.png');
}

button {
    background-color: orange;
    color: white;
    font-weight: bold;
}

nav {
    background-color: lightblue;
    font-weight: bold;
    font-size: 24px;
    
}
.content {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightblue;
    padding: 20px;
    width: 100%;
    border-style: dashed;
    border-color: grey;
    border-radius: 12px;
}
.choice {
    display: block;
}

h1 {
    text-align: center;
}

#start-screen {
    text-align: center;
}

#quiz {
    display: none;
}

#results-screen {
    display: none;
}

h3 {
    text-align: center;
}

#grade {
    text-align: center;
    size: 24px;
}

#timeGauge {
    text-align: right;
}

#high-scores {
    display: none;
}

#out-of-time {
    color: darkred;
    display: none;
    text-align: center;
}